

<h1>Kursy walut z przeszłości</h1>

@model DateTime

<form method="post">
    <div class="form-group">
        <label for="currencyCode"> Wymień z:</label>
        @Html.DropDownList("fromCurrency", (SelectList)ViewBag.CurrencyList, "Wybierz walutę")
    </div>
    <div class="form-group">
        <label for="fromDate">Wybierz datę dla której chcesz sprawdzić kurs</label>
        <input type="date" id="fromDate" name="fromDate" min="2002-01-02" max="2024-01-01" value="@Model.ToString("yyyy-MM-dd")" required>
    </div>
    <div>
        <input type="submit" value="Sprawdź" />
        @Html.Raw(ViewBag.rate);
    </div>
    </form>   

@section Scripts {
        <script>
            $(function (){
                $("Sprawdź").submit(function(e){
                    e.preventDefault();
                    $.ajax({
                        url: this.action,
                        url: this.method,
                        data: $(this).serialize(),
                        success: function(fromDate){
                            $("#dateTime").html(dateTime);
                        }
                    });
                 });
            });
        </script>
}
